html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em arial, sans-serif;
  color: #FFF;}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}
  
img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: bold 175% arial, sans-serif;
  color: #E12F03;
  letter-spacing: -1px;
  margin: 0 0 5px 0;
  padding: 15px 0 0 0;}

h2
{ font: bold 165% arial, sans-serif;}

h3
{ font: bold 125% arial, sans-serif;
  padding: 0 0 5px 0;
  color: #E12F03;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: bold 110% arial, sans-serif;
  color: #1D1D1D;
  line-height: 1.5em;}

h5, h6
{ font: italic 95% arial, sans-serif;
  color: #1D1D1D;
  padding-bottom: 15px;}

h6
{ color: #362C20;}

a, a:hover
{ background: transparent;
  outline: none;
  text-decoration: underline;
  color: #E12F03;}

a:hover
{ text-decoration: underline;
  color: #1D1D1D;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ margin: 2px 0 15px 17px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #banner, #menubar, #site_content, #footer, #contact, #footer_content, #banner_image
{ margin-left: auto; 
  margin-right: auto;
  background: #4b4b4b url(../images/background.jpg) repeat-x;}
 
#site_content
{ width: 960px;
  overflow: hidden;}  
 
#heading
{ float: left;
  width: 960px;
  height: 70px;}
 
.site_heading
{ height: 70px;
  width: 400px;
  float: left;}  
  
.site_heading H1
{ font: normal 350% arial, sans-serif;
  color: #FFF;
  letter-spacing: -3px;
  background: transparent;}
  
.site_heading H1 span
{ color: #E12F03;}
 
.site_slogan
{ height: 55px;
  padding-top: 15px;
  width: 400px;
  float: right;
  text-align: center;}
 
.site_slogan H2
{ font: normal 200% arial, sans-serif;
  color: #FFF;
  letter-spacing: -1px;
  background: transparent;}  
 
#header
{ height: 70px;
  width: 960px;
  float: left;
  background: transparent;
  text-align: center;}
 
#menubar
{ width: 960px;
  height: 50px;
  padding-top: 20px;
  text-align: center; 
  margin: 0 auto;
  background: transparent;} 

ul#menu
{ float: left;
  height: 40px;
  margin: 0;}

ul#menu li
{ list-style: none;
  height: 40px;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#menu li a
{ font-size: 130%;
  float: left;
  letter-spacing: -1px;
  padding: 10px 20px 10px 20px;
  color: #FFF;
  text-decoration: none;
  background: transparent;} 

ul#menu li.current
{ margin: 2px 0 0 0;}

ul#menu li.current a
{ color: #E12F03;
  background: transparent  url(../images/menu.jpg) repeat-x;}

ul#menu li a:hover
{ color: #E12F03;}  

#content
{ text-align: left;
  width: 710px;
  margin-top: 10px;
  padding: 10px 20px 0 0px;
  float: left;}

.content_underline
{ height: 4px;
  background: transparent url(../images/content_underline.jpg) no-repeat; }

.content_image
{ width: 128px;
  height: 128px;
  margin-top: 20px;
  padding: 5px;
  float: left;
  border: 1px solid #535353;}
  
.content_image_right
{ width: 128px;
  height: 128px;
  margin-top: 20px;
  float: right;
  padding: 5px;
  border: 1px solid #535353;}
  
.content_text
{ width: 520px;
  float: right;
  margin-top: 20px;
  padding-left: 20px;}
  
.content_text_left
{ width: 520px;
  float: left;
  margin-top: 20px;
  padding-left: 20px;}

#banner_image {
	width: 940px;
	float: left;
	padding: 20px 0 0 20px;
	background: transparent url(../images/slider_background.jpg) no-repeat;
}
#slider-wrapper {
    height: 270px;
	background: transparent;
	width: 920px;
}
#slider {
    background: url("../images/loading.gif") no-repeat scroll 50% 50% transparent;
    height: 250px;
    position: relative;
    width: 920px;
}
#slider img {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}
#slider a {
    border: 0 none;
    display: block;
}
.nivoSlider {
    position: relative;
}
.nivoSlider img {
    left: 0;
    position: absolute;
    top: 0;
}
.nivoSlider a.nivo-imageLink {
    border: 0 none;
    display: none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 6;
}
.nivo-slice {
    display: block;
    height: 100%;
    position: absolute;
    z-index: 5;
}
.nivo-box {
    display: block;
    position: absolute;
    z-index: 5;
}
.nivo-caption {
    background: none repeat scroll 0 0 #000000;
    bottom: 0;
    color: #FFFFFF;
    font-family: arial;
    left: 0;
    opacity: 0.8;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    z-index: 8;
}
.nivo-caption p {
    margin: 0;
    padding: 5px;
}
.nivo-caption a {
    color: red;
    display: inline !important;
    text-decoration: none;
}
.nivo-caption a:hover {
    color: blue;
    text-decoration: underline;
}
.nivo-html-caption {
    display: none;
}
.nivo-directionNav a {
    background: url("../images/arrows.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 30px;
    position: absolute;
    text-indent: -9999px;
    top: 45%;
    width: 30px;
    z-index: 9;
}
a.nivo-prevNav {
    left: 15px;
}
a.nivo-nextNav {
    background-position: -30px 50%;
    right: 15px;
}
.nivo-controlNav {
    bottom: -30px;
    left: 50%;
    margin-left: -40px;
    position: absolute;
}
.nivo-controlNav a {
    background: url("../images/bullets.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    height: 22px;
    margin-top: 250px;
    position: relative;
    text-indent: -9999px;
    width: 22px;
    z-index: 9;
}
.nivo-controlNav a.active {
    background-position: 0 -22px;
}

.sidebar_container
{ float: left;
  width: 230px;
  margin: 20px 0px 20px 0;}

.sidebar
{ float: right;
  width: 210px;
  padding-left: 10px;
  margin-bottom: 10px;}

.sidebar_item
{ font: normal 100% arial, sans-serif;
  padding: 0 15px 0 0;
  width: 201px;
  background: transparent url(../images/sidebar_underline.jpg) no-repeat;}

.sidebar h2
{ color: #E12F03;}  
  
.sidebar h4
{ font-size: 125%;
  color: #FFF;}

.sidebar p
{ color: #FFF;}

.sidebar a
{ color: #E12F03;}

.sidebar a:hover
{ text-decoration: none;}

.sidebar ul li, .sidebar ul li.selected
{ list-style: none; 
  margin: 15px 0;
  padding: 0;}

.sidebar li.selected, .sidebar li:hover
{ color: #5D5D5D;
  text-decoration: none;} 
  
#footer
{ font-size: 130%;
  letter-spacing: -1px;
  padding: 25px 20px 0 20px;
  margin: 0 auto;
  width: 920px;
  height: 45px;
  text-align: center; 
  color: #FFF;
  background: transparent;}

#footer a, #footer a:hover
{ color: #FFF;
  text-decoration: underline;}

#footer a:hover
{ text-decoration: none;}